@import './element-ui.scss';
@import './mixin.scss';


body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC!important;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background: #f7f7f7;
}

html {
  box-sizing: border-box;
  background: #f7f7f7;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式
.app-main{
  min-height: 100%;
}

.app-container {
  padding: 10px;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: #929292;
  &.hamburger {
    color: #009ee2;
  }
}

// 左侧导航

// 左侧导航
.el-submenu .el-menu-item{
  background-color: transparent !important;
  padding-left: 40px!important;
  &:hover{
    background-color: #283847 !important;
  }
  &.is-active {
    background-color: #fff!important;
    border-left: 5px solid #0fa1d3;
  }

}
.el-menu.sidebar-container {
  background-color:transparent!important;
  .el-menu{
    background-color: transparent!important;
    .el-submenu .el-menu{
      .el-menu-item{
        padding-left: 60px!important;
      }
    }
    li{
      .el-menu{
        li{
          padding-left:60px !important;
          background: transparent!important;
          &.el-menu-item{
            background-color: transparent !important;
            padding-left: 40px!important;
            &:hover{
              background-color: #283847 !important;
            }
            &.is-active {
              background-color: #fff!important;
              border-left: 5px solid #0fa1d3;
            }
          }
        }
      }
    }
  }
  
  .el-submenu__title {
    background: transparent!important;
    &:hover {
      background: #283847!important;
      color: #FFF;
    }
  }
 
}

// 用于标题
h4 {
    margin: 0;
    padding-bottom: rem(10px);
    font-size: 18px;
    font-weight: bold;
}

// 分页
.pagination {
  margin-top: 10px;
}
//分组-详情
.group-card-detail-wrap{
  .el-table {
    color:#111;
    font-size: 16px;
    thead{
      color:#666;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .group-card-detail-cell{
    &:nth-child(2){
      text-align: right;
    }
   
  }
  .el-table .el-table__body-wrapper tr:nth-child(2n-1),
  .el-table tr,
  .el-table--enable-row-hover .el-table__body tr:hover > td{
    background-color: #eee!important;
  }
  
}